@model CreateDeckDTO

@{
    ViewData["Title"] = "Create";
    int index = 1;
}
<div class="d-flex align-items-center vh-100 flex-column" style="margin-top: 7rem">

    <h3>Create Deck</h3>
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
    
                    <input asp-for="Name" class="form-control">
                    <label asp-for="Name" class="form-label">Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
    
                    <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
                    <label asp-for="CategoryId" class="form-label">Category</label>
                </div>
                <div class="form-floating mb-3">
    
                    <select asp-for="LanguageId" asp-items="Model.Languages" class="form-control"></select>
                    <label asp-for="LanguageId" class="form-label">Language</label>
                </div>
                <div class="form-floating mb-3">
    
                    <select asp-for="IsPublic" class="form-control">
                        <option value="true">Public</option>
                        <option value="false">Private</option>
                    </select>
                    <label asp-for="IsPublic" class="form-label">Visibility</label>
                </div>
            <input type="hidden" asp-for="CreatorId" />
            <input type="hidden" asp-for="TimeOfCreation" />
            <div class="create-card-container">
    		    <h4>Cards</h4>
                <div class="form-floating mb-3">
                    <input asp-for="CreateCards[0].FrontText" class="form-control">
                    <label class="form-label" asp-for="CreateCards[0].FrontText">Front Text</label>
                </div>
                <div class="mb-3">  
                    <input type="file" class="form-control" id="customFile" accept="image/jpeg, image/png" asp-for="CreateCards[0].FrontPicture" />
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="CreateCards[0].BackText" class="form-control">
                    <label class="form-label" asp-for="CreateCards[0].BackText">Back Text</label>
                </div>
                <div class="mb-3">
                    <input type="file" class="form-control" id="customFile" accept="image/jpeg, image/png" asp-for="CreateCards[0].BackPicture" />
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="CreateCards[0].CardType" class="form-control">
                        <option value="0" selected="selected">None</option>
                        <option value="1">Noun</option>
                        <option value="2">Verb</option>
                        <option value="3">Adjective</option>
                        <option value="4">Adverb</option>
                        <option value="5">Conjunction</option>
                        <option value="6">Phrase</option>
                        <option value="7">Preposition</option>
                        <option value="8">Other</option>
                    </select>
                    <label asp-for="CreateCards[0].CardType" class="form-label">Type (optional)</label>
                </div>
            </div>
            <a href="javascript:void(0);" onclick="addCard()" class="btn btn-secondary add-card">
                +
            </a>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-light" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}