@model CreateDeckDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Deck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <textarea asp-for="Name" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId">Language</label>
                <select asp-for="LanguageId" asp-items="Model.Languages" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="IsPublic">Visibility</label>
                <select asp-for="IsPublic" class="form-control">
                    <option value="true">Public</option>
                    <option value="false">Private</option>
                </select>
            </div>
            <div class="create-card-container">
				<label>Cards</label>
                <div class="form-group">
                    <label asp-for="Cards[0].FrontText">Front Text</label>
                    <textarea asp-for="Cards[0].FrontText" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Cards[0].FrontPicture">Front Picture</label>
                    <input type ="file" accept="image/jpeg, image/png" asp-for="Cards[0].FrontPicture" type="file" class="form-control-file" />
                </div>
                <div class="form-group">
                    <label asp-for="Cards[0].BackText">Back Text</label>
                    <textarea asp-for="Cards[0].BackText" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Cards[0].BackPicture">Back Picture</label>
                    <input type="file" accept="image/jpeg, image/png" asp-for="Cards[0].BackPicture" type="file" class="form-control-file" />
                </div>
            </div>
            <a href="javascript:void(0);" onclick="addCard()" class="add-card">
                +
            </a>
            <input type="hidden" asp-for="CreatorId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
