@model DeckSimpleDTO

@{
    ViewData["Title"] = "Check Yourself";
    var cards = Model.SimpleCards; // Get all cards
}

<div id="cards-container" class="d-flex justify-content-center align-items-center vh-100 flex-column">
    <h4 id="cards-counter">
        1/@cards.Count
    </h4>
    <div class="d-flex justify-content-center align-items-center">
        <div class="card-container">
            <div class="card-inner">
                <div class="card-front d-flex flex-column">
                    @if (!string.IsNullOrEmpty(cards[0].FrontPictureUrl))
                    {
                        <img src="~/uploads/@cards[0].FrontPictureUrl" class="card-img" loading="lazy">
                    }
                    <div class="card-text-box">
                        <p class="card-text">@cards[0].FrontText</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-choices" class="d-flex justify-content-center align-items-center">
      
    </div>
    <div>
        <a class="btn btn-light" id="back-to-deck" asp-action="Details" asp-route-id="@Model.Id">Back to Deck</a>
    </div>
</div>

<script id="modelData" type="application/json">
    @Html.Raw(Json.Serialize(Model.SimpleCards))
</script>
<script src="/js/Test.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
