@model CardDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Front Text
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FrontText)
        </dd>
        @if (Model.FrontPictureUrl != null)
            {
            <dt class="col-sm-2">
                Front Picture
            </dt>
            <dd class="col-sm-10"> 
                <img style="height:100px; width:auto" src="~/uploads/@Model.FrontPictureUrl" />
            </dd>
        }
        <dt class="col-sm-2">
            Back Text
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BackText)
        </dd>
        @if (Model.BackPictureUrl != null)
        {
            <dt class="col-sm-2">
                Back Picture
            </dt>
            <dd class="col-sm-10">
                <img style="height:100px; width:auto" src="~/uploads/@Model.BackPictureUrl" />
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> |
    <a asp-controller="Decks" asp-action="Details" asp-route-id="@Model?.DeckId">Back to Deck</a>
</div>