
﻿:root {
    --left: #FFF;
    --right: #ededed;
    --bg: #7e7e7e;
    --logoA: #b2003b;
    --logoB: #700227;
    --logoC: #25000c;
    --pink: #f7deff;
    --text: #424242;
}

::-webkit-scrollbar {
    background: var(--left);
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--logoB);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--logoC);
}

body {
    background-color: var(--left);
    background-image: url("../img/CaartaBGLight.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}


.navbar {
    background-color: var(--right) !important;
    border-bottom: solid var(--logoA) 2px;
}

.navbar-name {
    color: var(--logoA);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
    margin-right: 20px
}

.nav-link {
    color: var(--text) !important;
}

#logo {
    height: 5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--logoA);}

label {
    color: var(--text);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
}

.main-container {
    max-width: 70rem;
    margin: 0 auto;
}
