@model UserEditViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="d-flex justify-content-center align-items-center vh-100 flex-column">

    <h3>Edit Card</h3>
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input pattern=".{5,}" required title="5 characters minimum" asp-for="UserName" class="form-control">
                <label class="form-label" asp-for="UserName">UserName</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" asp-for="Email" class="form-control">
                <label class="form-label" asp-for="Email">Email</label>
            </div>
            <div class="mb-3">
                <input type="file" class="form-control" id="customFile" accept="image/jpeg, image/png" asp-for="ProfilePicture" />
            </div>
            <div class="form-floating mb-3">
                <select class="form-control" asp-for="ColorThemeId" class="form-control">
                    <option value="1">Light Theme</option>
                    <option value="2">Crimson Theme</option>
                    <option value="3">Dark Theme</option>
				</select>
                <label class="form-label" asp-for="ColorThemeId" class="control-label"></label>
            </div>
            <input type="hidden" asp-for="ProfilePictureUrl" />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
                <a class="btn btn-light" asp-controller="Profile" asp-action="Details" asp-route-id="@Model.Id">Back to Profile</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
